<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Online BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    	<servlet-name>validate</servlet-name>
    	<servlet-class>com.orders.SearchOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>validate</servlet-name>
    	<url-pattern>/validate</url-pattern>
    </servlet-mapping>
  	
  	<servlet>
    	<servlet-name>validatename</servlet-name>
    	<servlet-class>com.orders.SearchSupplierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>validatename</servlet-name>
    	<url-pattern>/validatesup</url-pattern>
    </servlet-mapping>

    <servlet>
    	<servlet-name>Orderinsert</servlet-name>
    	<servlet-class>com.orders.Orderinsert</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Orderinsert</servlet-name>
    	<url-pattern>/insert</url-pattern>
    </servlet-mapping>
    
    <servlet>
	    <servlet-name>Orderupdate</servlet-name>
	    <servlet-class>com.orders.UpdateOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Orderupdate</servlet-name>
    	<url-pattern>/update</url-pattern>
    </servlet-mapping>
  	<servlet>
    <servlet-name>DeleteOrders</servlet-name>
    <servlet-class>com.orders.DeleteOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrders</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
</web-app>